/* Basic lay out of p5.js app */

#p5-viewport {
      display: grid;
      width: 1200px;
      height: 900px;
      grid-template-columns: [ads] 150px [main] 900px [links] 150px;
      grid-template-rows:    [header-start] 150px [content-start] 600px [footer-start] 150px;
      
      grid-template-areas: "header header header"
                           "left canvas right"
                           "footer footer footer";
    }
    
    #top {
      color: white;
      background-color: darkgray;
      grid-area: header;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
    }
    /*
    #app-title {
      align-self: flex-start;
    }
    */
    
    #right {
      color: white;
      background-color: darkgray;
      grid-area: right;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
    }
     #right-title {
      align-self: flex-start;
    }
    #bottom {
      color: white;
      background-color: darkgray;
      grid-area: footer;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    }
    #canvas {
      color: gray;
      background-color: antiquewhite;
      grid-area: canvas;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #left {
      color: white;
      background-color: darkgray;
      grid-area: left;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
    }
    #left-title {
      align-self: flex-start;
    }
